$fontFamily: 'TT Hoves';
$fontSize: 16;

$primaryColor: #000;
$secondaryColor: #333;
$tertiaryColor: #bdbdbd;
$bgColor: #2c2c2c;
$borderColor: #f2f2f2;
$btnHoverColor: #f9f9f9;

$maxWidthContainer: 1170;
$minWidth: 375;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
